*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    background-color: rgb(6, 6, 32);
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    color: rgb(24, 138, 245);
    font-size: 2rem;
    font-weight: 800;
   
    
}
a{
    text-decoration: none;
    padding: 20px;
    font-size: 1rem;
    color: white;
    gap: 20px;  

}
a:hover{
    color: red;
}
.main{
   
    width: 100%;
    height: 90vh;
    background-color:rgb(5, 5, 32);
 
}
h2{
    color: white;
    text-align: center;
    padding-top: 5rem;
}
.main1{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    background-color: rgb(9, 9, 36);
    color: white;
    width: 17%;
    border: 1px solid rgb(24, 24, 26);
    margin-left: 1rem;
    margin-top: 1rem;
    
}
h3{
    padding: 10px;
    text-align: center;
}
footer{
    width: 100%;
    background-color: rgb(17, 17, 17);
}
h4{
    color: white;
    text-align: center;
}