*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: rgb(6, 6, 32);
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30%;
    color: rgb(24, 138, 245);
    font-size: 2rem;
    font-weight: 800;
   
    
}
a{
    text-decoration: none;
    padding: 20px;
    font-size: 1rem;
    color: white;
    gap: 20px;  

}
a:hover{
    color: red;
}
.main{
     position: relative;
    width: 100%;
  
}
.main1{

}
.mainimg{
 width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    
}
h1{
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 16rem;
}
p{
    font-size: 1.2rem;
     color: white;
    text-align: center;
}
button{
    width: 6%;
    text-align: center;
    margin-left: 40rem;
    padding: 4px;
    margin-top: 1rem;
    background-color: rgb(14, 131, 240);
    color: white;
    border: 1px solid rgb(15, 195, 240);
}