*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f172a,#1e293b,#334155);;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 800px;
    background: rgba(15,23,42,0.9);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color:#fff;
}

.input-box{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border:none;
    outline:none;
    background:#1e293b;
    color:white;
}
input::placeholder{
    color: #94a3b8;;
}
input:focus{
    box-shadow:0 0 0 1px #022661;
}

.input-box button{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    background:#3b82f6;
    color: rgb(235, 231, 231);
    border: none;
    border-radius: 6px;
    transition: all ease 0.3s;
}
.input-box button:hover{
    background:#2563eb;
    transform:translateY(-2px);
}

ul{
    margin-top: 20px;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    word-break: break-word;
    
}

h3{
    padding-top: 1rem;
    color: white;

}
.task{
    display: flex;
    justify-content: space-between;
    flex:1;
    word-break: break-word;
  
}
#total-task{
   
color:#fff;
}

#Complete-task{
   color:#22c55e;
}
.complete-btn{
   background:#16a34a;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    font-weight: 600;
}
.complete-btn:hover{
   background:#22c55e;
}

.liList{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#1e293b;
    padding:15px;
    border-radius:12px;
    margin-top:12px;
    color:white;
}
.liList:hover{
    transform:translateY(-2px);
    transition:0.3s;
}
.del-btn{
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.8rem;
    background:linear-gradient(45deg,#ef4444,#b91c1c);
    color: white;
    font-weight: 600;
}
.del-btn:hover{
    background-color: rgb(148, 2, 2);

}

.editButton{
  
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor: pointer;
    background-color: #d97706;
}
.editButton:hover{
    background:#f59e0b;
}
.deleteButton{
  background:#ef4444;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor: pointer;
}
.deleteButton:hover{
    background:#dc2626;
}