*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/* headersection */
.header{
    width: 100%;
    background-color: black;
    display: flex;
}
.logo{
    width: 20%;
}
.logoimg{
    width: 100%;
    ;
        transition: all 0.3s ease;
 
}
.logoimg:hover{
        transform: translateY(-6px);
}
.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
     width: 100%;
       margin-left: 50px;
   
}
.anchor{
    text-decoration: none;
    color: red;
    font-size: 1rem;
    padding: 20px;
    padding-left: 30px;
    transition: all 0.3s ease;
    font-weight: 700;
  
   
}
.anchor:hover{
    color: white;
    transform: translateY(-6px);   
}
.button{
  margin-left: 7rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button:hover{
    background-color:  rgb(243, 14, 167);
    transform: translateY(-6px);
}

.button1{
  margin-left: 3rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button1:hover{
    background-color: rgb(243, 14, 167);
    transform: translateY(-6px);
}
/* aboutmainsection */
 .about{
    position: relative;
    width: 100%;
    min-height: 80vh;
 }
 .aboutimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .overlayabout{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(0,0,0,0.7);
 }
 .abh1{
    color: white;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 10rem;
 }
 .abh3{
    color: #ffc404;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 0px 0px 2px  #ffc404;
 }
.abp{
    color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1.1rem;
    text-shadow: 0px 0px 2px rgb(170, 162, 162);
}
.join{
    text-align: center;
    margin-top: 2rem;
}
 .abbutton{
    padding: 0.5rem 0.5rem;
    width: 15%;
    font-size: 1rem;
    font-weight: 600;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: 2px 2px 2px yellow;
    text-shadow: 0px 0px 2px black;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
 }
 .abbutton:hover{
    background-color: red;
    border: 1px solid red;
    box-shadow: 2px 2px 2px red;
    text-shadow: 0px 0px 2px black;
    transform: translateY(-00.5rem);

 }
 .plan-divider2{
    width: 90%;
    height: 1.5px;
   background: linear-gradient(
        to right,
        transparent,
        #ffc404,
        transparent
    );
    margin: 15px 0;
     opacity: 0.7;}
     .bottom{
        width: 100%;
        display: flex;
        align-items: stretch;
     }
     .bottom1{
        width: 50%;
     }
     .ab2h3{
        color: #ffc404;
        font-size: 1.6rem;
        text-align: center;
        padding-top: 1.5rem;
     }
     #freeicons{
    color:  rgb(241, 158, 4);
     
    font-size: 1.6rem;
    padding-top: 1rem
    ;
   
    padding-left: 12rem;
}
.basicfree{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-top: 1rem;
}
  .ab3h3{
        color: #ffc404;
        font-size: 1.6rem;
        text-align: center;
        padding-top: 1.5rem;
        padding-left: 3rem;
     }
     #wrong{
        color:  rgb(241, 158, 4);
     
    font-size: 1.6rem;
    padding-top: 1rem
    ;
   
    padding-left: 3rem;
}
.bottomh2{
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
}
.bop{
     color:  rgb(241, 158, 4);
     text-align: center;
     padding-top: 1rem;
     font-size: 1.1rem;

}
 .plan-divider4{
    width: 90%;
    height: 1.8px;
   background: linear-gradient(
        to right,
        transparent,
        #ffc404,
        transparent
    );
    margin: 15px 0;
     opacity: 0.6;}

     /* Our Training Philosophy section */
     .our{
    position: relative;
    width: 100%;
    min-height: 25vh;
   
 }
 .ourimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
     
 }
 .overlayour{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(0,0,0,0.7);
 }
  .ourh1{
    color: transparent;
    font-size: 3rem;
    text-align: center;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRViXnXBGr7hdkRyRrG38IVwCxuAnpAlOj8cw&s);
    padding-top: 2rem;
  }
  .full{
    width: 100%;
    display: flex;
   
  }
  .full1{
    width: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
   
   
   
  }
  .imgfull{
    width: 75%;
    height: 100%;
     background-color: rgba(0,0,0,1);
    
  }
  .full2{
    width: 50%;
    
    
  }
  .ul1{
    border: 1.5px solid rgb(36, 32, 32);
    margin-top: 3rem;
    width: 80%;
    transition: all 0.3s ease;
 
  }
   .ul1:hover{
    transform: translateY(-00.5rem);
     box-shadow: 0 20px 40px rgba(250, 1, 76, 0.3);;

   }
  .fullh2{
    color: #ffc404;
    padding-left: 1rem;
    font-size: 2rem;
 
}

    
  .fullp{
    color: white;
    font-size: 1.1rem;
    opacity: 0.7;
      padding-left: 1rem;
      padding-top: 1rem;
      line-height: 1.8;

  }