@media (max-width:767px) {
  .logo {
    width: 35%;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: black;
    flex-direction: column;
    padding: 10px 0;
    z-index: 999;
  }

  .navbar.active {
    display: flex;
  }

  .anchor {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .button,
  .button1 {
    display: none;
  }

  .mobile {
    display: flex;
    gap: 25px;
    margin-left: auto;
    align-items: center;
    margin-right: 1rem;
  }

  .icon {
    font-size: 1.4rem;
    color: red;
  }

  .icon:hover {
    color: rgb(250, 244, 248);
    transform: translateY(-2px);
  }

}


@media screen and (max-width:991px) {

  /* mainsection */
  .abh1 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
    padding-top: 1rem;
  }

  .plan-divider2 {
    margin: 5px 0px;
  }

  .ab2h3 {
    font-size: clamp(0.95rem, 1vw, 1.2rem);

    padding-top: 0.7rem;
  }

  .ab3h3 {
    font-size: clamp(0.95rem, 1vw, 1.2rem);

    padding-top: 0.7rem;
  }

  #freeicons {
    font-size: clamp(0.9rem, 0.9vw, 1rem);

    padding-top: 0.5rem;
    padding-left: 4rem;
  }

  .basicfree {
    font-size: clamp(0.9rem, 0.9vw, 1rem);
  }

  #wrong {
    font-size: clamp(0.9rem, 0.9vw, 1rem);
    padding-top: 0.5rem;
    padding-left: 4rem;
  }

  .bottomh2 {
    font-size: clamp(1.2rem, 1.8vw, 1.7rem);

    padding-top: 0.5rem;
  }

  .bop {
    font-size: clamp(0.8rem, 0.8vw, 0.9rem);

    padding-top: 0.5rem;
  }

  .abbutton {
    width: 40%;
  }

  /* our philosophy */
  .ourh1 {
    font-size: clamp(1.8rem, 2.8vw, 2.7rem);
    padding-top: 0.5rem;
  }

  .full1 {
    width: 45%;
    height: 90vh;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .ul1 {
    margin-top: 1rem;
    width: 90%;
  }

  .fullh2 {
    font-size: clamp(1.5rem, 2.1vw, 2.1rem);

  }

  .fullp {
    font-size: clamp(0.9rem, 0.9vw, 1rem);


    padding-top: 0.5rem;
    line-height: 1.4;
    padding-left: 0.5rem;
  }

  /* The People Behind Your Transformation */
  .theh1 {
    font-size: clamp(1.8rem, 3vw, 3rem);

  }

  .peoplep {
    font-size: clamp(0.9rem, 0.9vw, 1.1rem);

  }

  .gymtrainer {
    height: 40%;
  }

  .people1 {
    margin-left: 0.5rem;
  }

  .peopleh4 {
    font-size: clamp(1.2rem, 1.8vw, 1.7rem);

    padding-top: 15rem;

  }

  .pp {
    font-size: clamp(0.9rem, 0.9vw, 1rem);
  }

  .pp1 {
    font-size: clamp(0.95rem, 1.1vw, 1.1rem);
    padding-top: 0;


  }

  /* why people trust */
  .trusth1 {
    font-size: clamp(1.6rem, 2.8vw, 2.5rem);
  }

  .trustp {
    font-size: 1.1rem;
  }

  .trus1 {
    width: 20%;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
  }

  #tricons {
    padding-left: 3rem;
  }

  .trh2 {
    font-size: clamp(1.8rem, 3vw, 3rem);
  }
}



@media screen and (max-width:767px) {
  .about{
    height: auto;
    height: 100vh;
  }
  .abh1{
    font-size: 2rem;
  }
  .abh3{
      font-size: 1.2rem;
  }
}
.abp{
  font-size: 0.8rem;
}
.bottom{
  flex-direction: column;
}
.bottom1{
        width: 100%;
     }
      /* Our Training Philosophy section */
@media (max-width: 767px) {

  .our {
    position: relative;
    height: auto;
  }

  .ourimg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlayour {
    position: relative;   
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 3rem;
  }

  .full {
    flex-direction: column;
    align-items: center;
  }

  .full1 {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
  }

  .imgfull {
    width: 90%;
    height: auto;
  }

  .full2 {
    width: 100%;
    align-items: center;
  }

  .ul1 {
    width: 90%;
    margin-top: 2rem;
  }
  /* The People Behind Your Transformation */
  .thepeople{
    height: auto;
  }
  .peopleimg{
     position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlaypeople{
    position: relative;
  }
  .peoplemain{
    flex-direction: column;
    align-items: center;
  }
  .people1{
    width: 60%;
    height: 50%;
    margin-left: 0;
    max-width: 60%;
  }
  .peopleh4{
    padding-top: 20rem;
    text-align: end;
    font-size: 1rem;
  }
  .pp{
    font-size: 0.9rem;
  }
  .pp1{
    font-size: 1rem;
  }
 
}
