*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/* headersection */
.header{
    width: 100%;
    background-color: black;
    display: flex;
}
.logo{
    width: 20%;
}
.logoimg{
    width: 100%;
    ;
        transition: all 0.3s ease;
 
}
.logoimg:hover{
        transform: translateY(-6px);
}
.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
     width: 100%;
       margin-left: 50px;
   
}
.anchor{
    text-decoration: none;
    color: red;
    font-size: 1rem;
    padding: 20px;
    padding-left: 30px;
    transition: all 0.3s ease;
    font-weight: 700;
  
   
}
.anchor:hover{
    color: white;
    transform: translateY(-6px);   
}
.button{
  margin-left: 7rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button:hover{
    background-color:  rgb(243, 14, 167);
    transform: translateY(-6px);
}

.button1{
  margin-left: 3rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button1:hover{
    background-color: rgb(243, 14, 167);
    transform: translateY(-6px);
}
/* aboutmainsection */
 .about{
    position: relative;
    width: 100%;
    min-height: 80vh;
 }
 .aboutimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .overlayabout{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(0,0,0,0.7);
 }
 .abh1{
    color: white;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 10rem;
 }
 .abh3{
    color: #ffc404;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 0px 0px 2px  #ffc404;
 }
.abp{
    color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1.1rem;
    text-shadow: 0px 0px 2px rgb(170, 162, 162);
}
.join{
    text-align: center;
    margin-top: 2rem;
}
 .abbutton{
    padding: 0.5rem 0.5rem;
    width: 15%;
    font-size: 1rem;
    font-weight: 600;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: 2px 2px 2px yellow;
    text-shadow: 0px 0px 2px black;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
 }
 .abbutton:hover{
    background-color: red;
    border: 1px solid red;
    box-shadow: 2px 2px 2px red;
    text-shadow: 0px 0px 2px black;
    transform: translateY(-00.5rem);

 }
 .plan-divider2{
    width: 90%;
    height: 1.5px;
   background: linear-gradient(
        to right,
        transparent,
        #ffc404,
        transparent
    );
    margin: 15px 0;
     opacity: 0.7;}
     .bottom{
        width: 100%;
        display: flex;
        align-items: stretch;
     }
     .bottom1{
        width: 50%;
     }
     .ab2h3{
        color: #ffc404;
        font-size: 1.6rem;
        text-align: center;
        padding-top: 1.5rem;
     }
     #freeicons{
    color:  rgb(241, 158, 4);
     
    font-size: 1.6rem;
    padding-top: 1rem
    ;
   
    padding-left: 12rem;
}
.basicfree{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-top: 1rem;
}
  .ab3h3{
        color: #ffc404;
        font-size: 1.6rem;
        text-align: center;
        padding-top: 1.5rem;
        padding-left: 3rem;
     }
     #wrong{
        color:  rgb(241, 158, 4);
     
    font-size: 1.6rem;
    padding-top: 1rem
    ;
   
    padding-left: 3rem;
}
.bottomh2{
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
}
.bop{
     color:  rgb(241, 158, 4);
     text-align: center;
     padding-top: 1rem;
     font-size: 1.1rem;

}
 .plan-divider4{
    width: 90%;
    height: 1.8px;
   background: linear-gradient(
        to right,
        transparent,
        #ffc404,
        transparent
    );
    margin: 15px 0;
     opacity: 0.6;}

     /* Our Training Philosophy section */
     .our{
    position: relative;
    width: 100%;
    min-height: 25vh;
   
 }
 .ourimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
     
 }
 .overlayour{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(0,0,0,0.7);
 }
  .ourh1{
    color: transparent;
    font-size: 3rem;
    text-align: center;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRViXnXBGr7hdkRyRrG38IVwCxuAnpAlOj8cw&s);
    padding-top: 2rem;
  }
  .full{
    width: 100%;
    display: flex;
   
  }
  .full1{
    width: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
   
   
   
  }
  .imgfull{
    width: 75%;
    height: 100%;
     background-color: rgba(0,0,0,1);
    
  }
  .full2{
    width: 50%;
    
    
  }
  .ul1{
    border: 1.5px solid rgb(36, 32, 32);
    margin-top: 3rem;
    width: 80%;
    transition: all 0.3s ease;
 
  }
   .ul1:hover{
    transform: translateY(-00.5rem);
     box-shadow: 0 20px 40px rgba(250, 1, 76, 0.3);;

   }
  .fullh2{
    color: #ffc404;
    padding-left: 1rem;
    font-size: 2rem;
 
}

    
  .fullp{
    color: white;
    font-size: 1.1rem;
    opacity: 0.7;
      padding-left: 1rem;
      padding-top: 1rem;
      line-height: 1.8;

  }
  /* The People Behind Your Transformation */
  .thepeople{
     position: relative;
    width: 100%;
    min-height: 25vh;
    
  }
  .people{
    width: 100%;
    height: 80%;
    
    
  }
  .peopleimg{
     width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .overlaypeople{
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(0,0,0,0.7);
     
  }
.theh1{
    color:transparent;
    font-size: 4rem;
    text-align: center;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRViXnXBGr7hdkRyRrG38IVwCxuAnpAlOj8cw&s);
}
 .plan-divider5{
    width: 90%;
    height: 2px;
   background: linear-gradient(
        to right,
        transparent,
        #fa6603,
        transparent
    );
    margin: 5px 0;
     opacity: 0.6;}
     .peoplep{
        color: transparent;
        font-size: 1.5rem;
        text-align: center;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX-Y7cOmeH-zWWxxLrbc_kyRsaQPC8zAQc9Q&s);
     }
     .peoplemain{
        width: 100%;
        display: flex;
     }
     .people1{
        width: 30%;
         position: relative;
         margin-left: 2rem;
         margin-top: 2rem;
         border: 1px solid rgb(44, 42, 42);
         height: 60%;
         transition: all 0.3s ease;
       
     }
     .people1:hover{
         box-shadow: 0 20px 40px rgba(240, 129, 3, 0.3);
         transform: translatey(-00.5rem);


     }
     .gymtrainer{
        width: 100%;
         object-fit: cover;
         height: 80%;
       

       
     }
     .overlayp1{
         position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(0,0,0,0.2);
  }

    .peopleh4{
        color: transparent;
        font-size: 2rem;
        text-align: center;
        padding-top: 25rem;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY0YHd-4VIika9ilUb7vEPID74-391K5vmgQ&s);
    }
    .pp{
        color: white;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 0.5rem;
        font-weight: 800;

    }
     .plan-divider6{
    width: 90%;
    height: 2px;
   background: linear-gradient(
        to right,
        transparent,
        #f8d50e,
        transparent
    );
    margin: 5px 0;
     opacity: 0.6;}
     .pp1{
         color: rgb(247, 243, 10);
        font-size: 1.3rem;
        text-align: center;
        padding-top: 0.5rem;
        font-weight: 800;
     }
     /* WHY PEOPLE TRUST */
     .trust{
         position: relative;
    width: 100%;
    min-height: 25vh;

     }
     .trust1{
          width: 100%;
    height: 80%;
       

     }
     .trustimg{
         width: 100%;
    height: 100%;
    object-fit: cover;
          
    

     }
     .overlaytrust{
          position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(8, 8, 8, 0.7);
        

     }
     .trusth1{
        color: transparent ;
        font-size: 3rem;
        text-align: center;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx376OavTWjm-Dbn4fUIHpg3_stvfpwM-geA&s);
        margin-top: 3rem;
     }
     .trustp{
        color: white;
        font-size: 1.4rem;
        text-align: center;
     }
     .trus{
        width: 100%;
        display: flex;
        

     }
     .trus1{
        width: 17%;
       border: 1px solid rgb(24, 23, 23);
       margin-left: 5rem;
       margin-top: 5rem;
       transition: all 0.3s ease;
     }
      .trus1:hover{
         box-shadow: 0 20px 40px rgba(245, 121, 5, 0.3);
         transform: translatey(-00.3rem);
          border: 1px solid rgb(219, 128, 9);
         

      }
     #tricons{
        font-size: 4rem;
        color: rgb(219, 128, 9);
        text-align: center;
        padding-left: 5rem;
     }
    .th1{
        font-size: 3.2rem;
        color:rgb(219, 128, 9);
        text-align: center;
    }
    .tp{
        color: white;
        line-height: 1.5;
        font-size: 1.1rem;
        text-align: center;
    }
    .trh2{
        font-size: 3rem;
        color:transparent;
        text-align: center;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx376OavTWjm-Dbn4fUIHpg3_stvfpwM-geA&s);
        margin-top: 4rem;
    }