*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
}
header{
    width:100%;
    background:black;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 30px;
}

.logo{
    width: 30%;
}
.logo img{
    width: 40%;
}
nav{
    display:flex;
    width: 40%;
    gap:25px;
    align-items:center;
    justify-content: space-between;
}

.navbar{
    color:white;
    text-decoration:none;
    position:relative;
}

.navbar:hover{
    color:#E8602E;
}

.button button,
.mobile-btn{
    background:#da3e06;
    border:none;
    padding:12px 20px;
    color:white;
    border-radius:6px;
    cursor:pointer;
}
.menu-icon{
    display:none;
    color:rgb(228, 5, 5);
    font-size:24px;
    cursor:pointer;
    z-index:1001;
    background-color: #da3e06;
}
.mobile-btn{
    display:none;
}
#righticon{
    background-color: #da3e06;
    color: white;
}

.enquiry{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}


.enquiry-container{
    width:1100px;
    max-width:95%;
    display:flex;
    background:#111;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 40px rgba(255,0,60,0.2);
}


.enquiry-info{
    flex:1;
    padding:50px;
    background:linear-gradient(135deg,#ff003c,#b3002d);
    color:white;
}

.enquiry-info h1{
    font-size:2.5rem;
    margin-bottom:15px;
}

.enquiry-info p{
    line-height:1.7;
}

.info-box{
    margin-top:30px;
}

.info-box p{
    margin:12px 0;
    font-size:1.1rem;
}

.info-box i{
    margin-right:10px;
}

/* FORM SIDE */
.enquiry-form{
    flex:1;
    padding:50px;
    background:#151515;
}

.enquiry-form h2{
    color:white;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
}

input, select, textarea{
    margin-bottom:15px;
    padding:12px;
    border:none;
    outline:none;
    border-radius:6px;
    background:#222;
    color:white;
}

textarea{
    resize:none;
    height:100px;
}

button{
    padding:14px;
    border:none;
    background:#ff003c;
    color:white;
    font-size:1rem;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff335f;
}

