@media screen and (max-width:991px) {
     .logo{
        width: 35%;
    }
    .navbar{
        display: none;
        position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: black;
    flex-direction: column;
    padding: 10px 0;
    z-index: 999;
    }
    .navbar.active{
    display: flex;
  }
  .anchor{
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .button,
  .button1{
    display: none;
  }
    .mobile{
       display: flex;
    gap: 25px;
    margin-left: auto;
    align-items: center;
    margin-right: 1rem;
  }
  .icon{
    font-size: 1.4rem;
    color: red;
  }
  .icon:hover{
      color:  rgb(250, 244, 248);
    transform: translateY(-2px);
  }
  /* mainsection */
  .main{
    min-height: auto;
  }
  .ovh1{
   font-size: clamp(34px, 4vw, 46px);
    padding-top: 1rem;
  }
  .ovh2{
    font-size: clamp(43px,7vw,65px);
  }
  .ovp{
    font-size: clamp(14px,1.8vw,26px);
    padding-top: 15px;
  }
  #star{
    font-size: clamp(18px,20px,22px)
  }
  #crowd{
    font-size: clamp(18px,20px,22px)
  }
  #gym{
        font-size: clamp(18px,20px,22px)
  }
  #clock{
   font-size: clamp(18px,20px,22px)
  }
  .icons{
   font-size: clamp(14px,1.8vw,26px);
  }
  .button2{
    margin-top: 1rem;
      
  }
  /* whychooseus */
  .why{
    margin-top: 0;
   
   
 
  }
  .whyh1{
    padding-top: 0;
    font-size: clamp(36px,38px,45px);
    
  }
  .why1{
    min-height: 25vh;
    width: 30%;
    margin-left: 1.4rem;
    margin-top: 2rem;
    
   
  }
  .whyh2{
    font-size:clamp(24px,26px,28px)
  }
  .whyp{
    font-size: 13px;
    padding-top: 15px;
   ;
  }
  .whyp1{
    font-size: 13px;
    
  }
  .wh{
    min-height: 25vh;
    margin-top: 1rem;
    margin-left: 1.4rem;
    width: 30%;
  }
  .whh2{
      font-size:clamp(24px,26px,28px)
  }
  .whp{
    font-size: 13px;
    line-height: 1.8;
  }
  /* success story */
  .suh1{
    font-size: 2.8rem;
  }
  .sup{
    font-size: 1rem;
    padding-top: 0.2rem;

  }
  .story1{
    margin-left: 3rem;
    height: auto;
  }
  .sup1{
    font-size:0.9rem ;
    line-height: 1.8;
  }
  /* membership plan */
  .memh1{
    font-size: 1.9rem;
  }
  .plan-divider2{
    margin: 0.1rem 0;
  }
  .memp{
    font-size: 1rem;
    padding-top: 0;
  }
  .member2{
    margin-top: 1.2rem;
    margin-left: 2rem;
    width: 25%;
  }
  .mem2h1{
    font-size: 2.2rem;

  }
  .plan-divider{
    margin: 0.5rem 0;
  }
  .basic{
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  .membutton{
    margin-left: 1.5rem;
  }
  .member3{
     margin-top: 1.2rem;
    margin-left: 2rem;
    width: 25%;
  }
  .mem3h1{
     font-size: 2.2rem;
  }
  .member4{
     margin-top: 1.2rem;
    margin-left: 2rem;
    width: 25%;
  }
 .mem4h1{
     font-size: 2.2rem;
  }
  .membutton{
    margin-left: 1.5rem;
  }


  /* how we transform you */
  .howh1{
    font-size: clamp(32px,36px,40px)
  }
  .howp{
    font-size: clamp(12px,14px,16px);
    padding-top: 0.4rem;
  }
 .trans{
    height: 50vh;
    width: 90%;
    margin-top: 1.5rem;
 }
 .trans1{
    width: 90%;
    
    margin-top: 1.5rem;
    margin-left: 0.4rem;
 }
 .trah1{
    font-size: clamp(22px,25px,28px);
    padding-top: 0.5rem;
 }
 .trap{
    font-size: clamp(12px,14px,20px);
    padding-top: 0.3rem;
    padding-bottom: 0;
    
 }
 .trans2{
    width: 90%;
    margin-top: 0.9rem;
     margin-left: 0.4rem;
 }
 .trah2{
    font-size: clamp(20px,22px,28px);
    padding-top: 0.5rem;
 }
 .trap1{
      font-size: clamp(12px,14px,20px);
    padding-top: 0.3rem;
    padding-bottom: 0;
 }
 /* free fitness consultation */
 .frh1{
    padding-top: 1rem;
    font-size: clamp(35px,39px,45px);
    padding-left: 3rem;

 }
 .frh4{
    font-size: clamp(22px,26px,30px);
    padding-left: 3rem;
 }
 .frp{
    font-size: 0.8rem;
       padding-left: 3rem;
 }
 #freeicons{
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
 }
    .basicfree{
         font-size: 1.2rem;
    }
    .basicfree1{
         font-size: 1.2rem;
    }
    .form{
        margin-top: 5rem;
    }



@media screen and (max-width:767px) {
  .ovh1{
   font-size: clamp(26px, 3vw, 34px);
    padding-top: 0.5rem;
  }
  .ovh2{
    font-size: clamp(30px,5vw,45px);
  }
  .ovp{
    font-size: clamp(12px,1vw,20px);
    padding-top: 0.5rem;
  }
  #star{
    font-size: clamp(14px,16px,18px);
    padding-top: 1rem;
    display: none;
    
  }
  #crowd{
    font-size: clamp(14px,16px,18px);
    padding-top: 1.2rem;
    display: none;
  }
  #gym{
       font-size: clamp(14px,16px,18px);
    padding-top: 1.2rem;
    display: none;
  }
  #clock{
    font-size: clamp(14px,16px,18px);
    padding-top: 1rem;
    display: none;
  }
  .icons{
   font-size: clamp(10px,11px,13px);
   display: none;
  }
 
  /* whychooseus */
  .why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
 
  }
  .whyh1{
    padding-top: 0;
    font-size: clamp(36px,38px,45px);
    
  }
  .why1{
    min-height: 15vh;
    width: 80%;
    max-width: 80%;
   
    margin-top: 1rem;
   
    
   
  }
  .whyh2{
    font-size:clamp(28px,30px,32px)
  }
  .whyp{
    font-size: clamp(15px, 1.2vw, 18px);

    padding-top: 15px;
   ;
    line-height: 1.7;
  }
  .whyp1{
    font-size: clamp(15px, 1.2vw, 18px);

     line-height: 1.7;
    
  }
  .whysecond{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wh{
    min-height: 15vh;
    margin-top: 1rem;
   
    width: 80%;
    max-width: 80%;
  }
  .whh2{
      font-size:clamp(24px,26px,28px)
  }
  .whp{
  font-size: clamp(15px, 1.2vw, 18px);

    line-height: 2;
  }
  /* success story */
  .story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .story1{
    width: 80%;
     justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  .suh1{
    font-size: clamp(3rem, 4vw, 3.8rem);

  }
  .sup{
  font-size: clamp(0.95rem, 1.1vw, 1.05rem);

    padding-top: 0.2rem;

  }
  
  .sup1{
   font-size: clamp(0.85rem, 1vw, 0.95rem);

    line-height: 1.8;
  }
  /* membership plan */
  .member1{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .member2{
    width: 80%;
  }
  .member3{
    width: 80%;
  }
  .memh1{
   font-size: clamp(2.3rem, 3.5vw, 2.9rem);

  }
  .plan-divider2{
    margin: 0.1rem 0;
  }
  .memp{
   font-size: clamp(0.9rem, 1.2vw, 1rem);

    padding-top: 0;
  }
 
  .mem2h1{
     font-size: clamp(2.3rem, 3.5vw, 2.9rem);

  }
  .plan-divider{
    margin: 0.5rem 0;
  }
  .basic{
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    padding-top: 0.5rem;
  }
  .membutton{
    margin-left: 1.5rem;
  }
 
  .mem3h1{
     font-size: 2.2rem;
  }
  .member4{
    
    width: 80%;
  }
 .mem4h1{
     font-size: 2.2rem;
  }
  .membutton{
    margin-left: 1.5rem;
  }
  /* free fitness consultation */
  .main{
    display: flex;
    flex-direction: column;
  }
  .free1{
    width: 100%;
      display: flex;
    flex-direction: column;

  }
  .free3{
      display: flex;
    flex-direction: column;
  }
  .form{
    margin-top: 2rem;
  }
  .frh1{
    font-size: clamp(1.8rem, 5vw, 3rem);

  }
  .frh4{
    font-size: clamp(1.4rem, 3vw, 1.9rem);

  }
  .frp{
    font-size: clamp(0.95rem, 1.3vw, 1.1rem);

  }
  .freeic{
    margin-top: 1rem;
  }


  /* how we transform you */
 @media (max-width: 767px) {

  .main1{
    height: auto;   
  }
  body{
    background-color: black;
  }

  .howimg{
   display: none;   
  }

  .overlay1{
    position: relative;   
    height: auto;
    padding-bottom: 3rem;
  }

  .howh1{
    font-size: 2.2rem;
    padding-top: 2rem;
    text-align: center;
  }

  .howp{
   font-size: clamp(0.95rem, 1vw, 1.05rem);

    padding: 0 1rem;
    text-align: center;
  }

  .transmain{
    flex-direction: column;
    align-items: center;
  }

  .trans{
    width: 90%;
    height: auto;
    margin-top: 2rem;
  }

  .trans img{
    width: 100%;
    height: auto;
    display: block;
  }

  .trans1main{
    width: 100%;
  }

  .trans1,
  .trans2{
    width: 95%;
    margin: 1rem auto;
  }

  .trah1,
  .trah2{
  font-size: clamp(1.4rem, 2.2vw, 1.8rem);

  }

  .trap,
  .trap1{
  font-size: clamp(0.85rem, 1vw, 1rem);

    line-height: 1.5;
  }
}

@media screen and (max-width:479px) {
  /* mainsection */
  .ovh1{
    font-size: clamp(1.5rem, 4vw, 2.8rem);
    padding-left: 1rem;


  }
  .ovh2{
     font-size: clamp(1.5rem, 4vw, 2.8rem);
    padding-left: 1rem;
  }
  .ovp{
    font-size: clamp(0.7rem, 1vw, 1.4rem);
     padding-left: 1rem;

  }
  .button2{
    margin-left: 1rem;
  }

  /* whychooseus */
  .why1{
    width: 90%;
  }
  .whyh2{
    font-size: clamp(1.3rem, 2.5vw, 1.625rem);
    padding-top: 5px;

  }
  .whyp{
   font-size: clamp(0.7rem, 0.8vw, 0.75rem);


  }
  .whyp1{
    font-size: clamp(0.7rem, 0.8vw, 0.75rem);


  }
  .whh2{
    font-size: clamp(1.3rem, 2.5vw, 1.625rem);
    padding-top: 5px;
  }
}
.whp{
   font-size: clamp(0.7rem, 0.8vw, 0.75rem);

   padding-top: 5px;

}
}

    
