*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/* headersection */
.header{
    width: 100%;
    background-color: black;
    display: flex;
}
.logo{
    width: 20%;
}
.logoimg{
    width: 100%;
    ;
        transition: all 0.3s ease;
 
}
.logoimg:hover{
        transform: translateY(-6px);
}
.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
     width: 100%;
       margin-left: 50px;
   
}
.anchor{
    text-decoration: none;
    color: red;
    font-size: 1rem;
    padding: 20px;
    padding-left: 30px;
    transition: all 0.3s ease;
    font-weight: 700;
  
   
}
.anchor:hover{
    color: white;
    transform: translateY(-6px);   
}
.button{
  margin-left: 7rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button:hover{
    background-color:  rgb(243, 14, 167);
    transform: translateY(-6px);
}

.button1{
  margin-left: 3rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button1:hover{
    background-color: rgb(243, 14, 167);
    transform: translateY(-6px);
}
/* mainsection */
.result{
   position: relative;
    width: 100%;
    height: 70vh;
}
.result1{
  width: 100%;
    height: 100%;
}
.resultimg{
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlayresult{
 position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(8, 8, 8, 0.9);
}
.resulth1{
    font-size: 4rem;
    color: transparent;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQehoKv7ErzviAcRpzI66XW85UC3CpsPn2-hA&s);
    text-align: center;
}
 .plan-divider7{
    width: 90%;
    height: 2.2px;
   background: linear-gradient(
        to right,
        transparent,
        #f5012a,
        transparent
    );
    margin: 5px 0;
     opacity: 0.9;}
     .rep{
        font-size: 1.5rem;
        color: white;
        text-align: center;
     }
     .rep1{
        font-size: 1.1rem;
          color: white;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 1.5rem;
        line-height: 1.8;
     }
      .rep2{
        font-size: 1.1rem;
          color: rgb(245, 6, 78);
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 1.5rem;
        font-weight: 900;
     }
     