*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
/* headersection */
.header{
    width: 100%;
    background-color: black;
    display: flex;
}
.logo{
    width: 20%;
}
.logoimg{
    width: 100%;
    ;
        transition: all 0.3s ease;
 
}
.logoimg:hover{
        transform: translateY(-6px);
}
.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
     width: 100%;
       margin-left: 50px;
   
}
.anchor{
    text-decoration: none;
    color: red;
    font-size: 1rem;
    padding: 20px;
    padding-left: 30px;
    transition: all 0.3s ease;
    font-weight: 700;
  
   
}
.anchor:hover{
    color: white;
    transform: translateY(-6px);   
}
.button{
  margin-left: 7rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button:hover{
    background-color:  rgb(243, 14, 167);
    transform: translateY(-6px);
}

.button1{
  margin-left: 3rem;
  color: aliceblue;
  background-color: red;
  border: 2px solid rgb(10, 0, 0);
  padding: 10px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.button1:hover{
    background-color: rgb(243, 14, 167);
    transform: translateY(-6px);
}
/* mainsection */
.services{
  position: relative;
    width: 100%;
    height: 100vh;
}
.service1{
       width: 100%;
    height: 100%;
       
}
.serimg{
      width: 100%;
    height: auto;
    object-fit: cover;

}
.overlayser{
 position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(8, 8, 8, 0.9);
}
.serh1{
    font-size: 4rem;
    color:transparent;
    text-align: center;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU2Pl34ICUizVv31vnBI1ROAjqQDEMJYVEA&s);
}
 .plan-divider6{
    width: 90%;
    height: 2.2px;
   background: linear-gradient(
        to right,
        transparent,
        #f8d50e,
        transparent
    );
    margin: 5px 0;
     opacity: 0.9;}
     .pp1{
         color: rgb(247, 243, 10);
        font-size: 1.3rem;
        text-align: center;
        padding-top: 0.5rem;
        font-weight: 800;
     }
     .serp{
        color:transparent;
        font-size: 1.3rem;
        text-align: center;
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU2Pl34ICUizVv31vnBI1ROAjqQDEMJYVEA&s);

     }
     .sermain{
        width: 100%;
         border: 2px solid rgb(58, 50, 50);
         display: flex;
     }
     .ser1{
        width: 40%;
        border: 1px solid rgb(46, 34, 34);
        margin-left: 3rem;
       
     }
     .serh2{
         color:transparent;
        font-size: 2.1rem;
        text-align: center;
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU2Pl34ICUizVv31vnBI1ROAjqQDEMJYVEA&s);

     }
     .serp1{
         color:transparent;
        font-size: 1.1rem;
        text-align: justify;
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU4pbp3GDAwjynsSdwu8d11-hhXQGL0wfvDQ&s);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    padding-left: 4.9rem;
    margin-top: 1rem;

     }
     /* divstar */
     .sr1{
        width: 100%;
        display: flex;
        margin-top: 2rem;
       
     }
     #sricons{
        font-size: 1.8rem;
        color: transparent;
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU2Pl34ICUizVv31vnBI1ROAjqQDEMJYVEA&s);
     padding-left: 4.5rem;
     transition: all 0.3s ease;
    

     }
     #sricons:hover{
        transform: translateY(-0.4rem
        )

     }
     .srh2{
         color:transparent;
        font-size: 1.5rem;
        text-align: center;
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU2Pl34ICUizVv31vnBI1ROAjqQDEMJYVEA&s);
    padding-left: 1rem;

     }
     .srspan{
          color:transparent;
        font-size: 1rem;
        text-align: justify;
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU4pbp3GDAwjynsSdwu8d11-hhXQGL0wfvDQ&s);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     }
     /* sidediv */

     .sr2main{
        width: 40%;
        margin-left: 5rem;
       
      
     }
     .sr2{
        width: 100%;
        border: 1px solid rgb(24, 22, 22);
     }
      .srh21{
         color:transparent;
        font-size: 1.5rem;
       
         background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU2Pl34ICUizVv31vnBI1ROAjqQDEMJYVEA&s);
    padding-left: 1rem;

     }


     /* Why Our Coaching Work */
     .work{
         position: relative;
    width: 100%;
    height: 100vh;

     }
     .work1{
          width: 100%;
    height: 100%;
       
     }
    .workimg{
         width: 100%;
    height: 100%;
    object-fit: cover;


    }
.overlaywork{
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(8, 8, 8, 0.9);

}
.workh1{
    font-size: 3rem;
    text-align: center;
    color: transparent;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXB3to_eE1Hj7p9nokJaljKz7FKCJ6hzFKlA&s);
}
.workmain{
    width: 100%;
    display: flex;
   
}
.work2{
    width: 30%;
}
.workp{
    font-size: 1.2rem;
    color:transparent;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXB3to_eE1Hj7p9nokJaljKz7FKCJ6hzFKlA&s);
    padding-top: 2rem;
    padding-left: 1rem;

}
     .work3{
        width: 70%;
        
        border: 1px solid rgb(22, 21, 21);
        
     }
     .workside{
        width: 100%;
        display: flex;
     }
     .work4{
        width: 44%;
        border: 1px solid rgb(27, 27, 24);
        margin-left: 3rem;
        margin-top: 3rem;
        height: fit-content;
        transition: all 0.3s ease;
     }
     .work4:hover{
        transform: translateY(-0.5rem
        );
        box-shadow: 0px 20px 40px rgb(44, 223, 9);
        border: 1px solid green;

     }
     #workicons{
        font-size: 3rem;
        color:transparent;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXB3to_eE1Hj7p9nokJaljKz7FKCJ6hzFKlA&s);
        padding-left: 10rem;

     }
     .workh2{
        font-size: 2rem;
        text-align: center;
        color: transparent;
          background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXB3to_eE1Hj7p9nokJaljKz7FKCJ6hzFKlA&s);

     }
     .workp1{
        color: white;
        font-size: 1.1rem;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 1.5;
        
     }

     /* Is This Program Right For You */
     .right{
         position: relative;
    width: 100%;
    height: 100vh;

     }
     .right1{
         width: 100%;
    height: 100%;

     }
     .rightimg{
        
         width: 100%;
    height: 100%;
    object-fit: cover;
}

     
     .overlayright{
         position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     background-color: rgba(8, 8, 8, 0.7);


     }
     .righth1{
        font-size: 4rem;
        color:transparent;
        text-align: center;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDfubpxaNF6ncQbekVJV9T7ol1TwUXUkQp9g&s);
     }
     .rightp{
        font-size: 1.1rem;
        color: white;
        text-align: center;
     }
     .main{
        width: 100%;
        display: flex;
     }
     .sideri{
        width: 40%;
        margin-top: 2rem;
        border: 1px solid rgb(44, 41, 41);
        
     }
     .sideh1{
          font-size: 2.5rem;
        color:transparent;
        text-align: center;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT97GRZVCJkQnCNvpAwVyJkN8KstI95-IXyQA&s);
     }
     #sideicon{
        font-size: 2rem;
        color: rgb(8, 240, 27);
       margin-left: 5rem;
       margin-top: 1rem;
     }
     .sidespan{
        font-size: 1.5rem;
        color: white;
        margin-left: 1rem;
        padding-top: 3rem;
        margin-top: 3rem;
        text-align: center;
       
      
     }
     .sidespan1{
         font-size: 1.5rem;
        color: white;
        margin-left: 8.5rem;
        padding-top: 4rem;
        margin-top: 6rem;
        text-align: center;

     }
     .sidel{
        width: 40%;
         margin-top: 2rem;
        border: 1px solid rgb(44, 41, 41);
        margin-left: 7rem;
        
     }
     #sidelicon{
         font-size: 2rem;
        color: rgb(250, 3, 15);
       margin-left: 5rem;
       margin-top: 1rem;
     }
     .sidelh1{
           font-size: 2.5rem;
        color:transparent;
        text-align: center;
        background-clip: text;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3r1hXHsgIxxQWaK0pKH8kYM-UpAp4fo0pxw&s);
     }
     .bottomp{
        font-size: 1.7rem;
        color: white;
        text-align: center;
        margin-top: 1.5em;
        
     }
     .rightbutton{
        padding: 0.5rem;
        width: 25%;
        font-size: 1rem;
        font-weight: 700;
        background-color: #f8d50e;
        border: 1px solid yellow;
        margin-left: 30rem;
        margin-top: 1.5rem;
        transition: all 0.3s ease;
    }

        .rightbutton:hover{
            transform: translateY(-0.5rem);
            background-color: red;
            border: 1px solid red;

        }
   