
@font-face {
    font-family: new;
    src: url(./NeueMachina-Regular.woff2);
}

@font-face {
    font-family: man;
    src: url(./Manrope-VariableFont_wght.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
header{
    width: 100%;
    background-color:#131921;
    display: flex;

}
.logo{
    width: 10%;
    background-color: black;
}
.logo img {
    width: 100%;
}
#iconlocation{
    color: white;
  align-items: center;
  display: flex;
  margin-left: 1.1rem;
  
}
.location{
    width: 15%;
    color: white;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 0.5rem
    /* background-color: brown; */
}
.location p {
    opacity: 0.7;
}
.location h5 {
    color: white;
    font-size: 1rem;
}
.input{
    width: 45%;
    display: flex;
    

}
.input input {
    width: 100%;
    height: 70%;
    border-radius: 6px;
    border: none;
    margin-top: 0.8rem;
}
.input input:hover{
    border: 2px solid rgb(94, 5, 238);
}

input::placeholder{
    font-size: 1rem;
    opacity: 0.7;
    font-weight: 500;
}
#Search{
    color: rgb(245, 243, 243);
    font-size: 1.3rem;
  padding-top: 8px;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
      height: 70%;
      border-radius: 3px;
    
}
.input span{
   margin-left: 1rem;
     margin-top: 0.6rem;
}
.input h5{
    color: white;
    font-size: 1rem;
     margin-top: 1.6rem;
     margin-left: 0.5rem;
}
.signin{
    margin-left: 1rem;
}
.signin p{
    color: white;
     margin-top: 1rem;
     margin-left: 0.9rem;
}
.signin h5 {
    color: white;
    font-size: 1rem;
     margin-left: 0.9rem;
}
.return{
    margin-left: 1rem;
}
.return p {
    color: white;
     font-size: 1rem;
     margin-left: 0.9rem;
     margin-top: 1rem;
}
.cart{
    display: flex;
}
.cart i{
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}
.cart h5{
    color: white;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
/* navbar  */
nav{
    width: 100%;
    background-color:#232F3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav i{
    font-size: 1.2rem;
    color: white;
    /* margin-left: 1rem; */
}
nav a{
    color: white;
    text-decoration: none;
    font-family: new;
    font-size: 0.8rem;
    padding: 8px 8px;

}
.main{
    width: 100%;
    position: relative;
    
}
.main img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.overlay{
    position: absolute;
    display: flex;
   justify-content: space-evenly;
   margin-left: 1rem;
   align-items: center;
   margin-top: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}
.inner1{
    width: 23%;
    background-color: white;
    /* display: flex; */
}
.inner1 h3{
    font-family: new;
    text-align: center;
    margin-top: 1rem;
}
.bedsheet{
    display: flex;
    width: 100%;
 
}
.bedsheet1{
    width: 50%;
}
.bedsheet img{
    width: 80%;
    height: 18vh;
    margin-left: 1rem;
    margin-top: 1rem;
}
.inner1{
    height: 62vh;
}
.bedsheet p{
    font-size: 0.85rem;
    font-family: man;
     margin-left: 1rem;
     line-height: 1.5;
        cursor: pointer;
}
.Explorep{
    color: blue;
    font-size: 0.9rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-top: 1rem;
    /* padding-bottom: 1.5rem; */
    cursor: pointer;
}
.Explorep a{
    text-decoration: none;
}
.inner1 a{
    text-decoration: none;
}

 /* up to 60 % off  */
 .launchpadmain{
    margin-top: 9rem;
 }
 .launchpadmain h3{
    font-size: 1.6rem;
    margin-left: 3rem;
 }
 .launchpad{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
 }

  /* starting rs 999  */
  .launchpadmain1{
    margin-top: 1rem;
  }
  .launchpadmain1 h3{
     font-size: 1.6rem;
    margin-left: 3rem;
  }


  /* selling  */
  .sellingmain{
    width: 100%;
    background-color: #E3E6E6;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
  }
  .sellingmain a{
    text-decoration: none;
    color: black;
  }
  .beeps{
    width: 23%;
    border: 4px solid rgb(255, 255, 255);
    margin-top: 2rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    background-color:#FFFFFF
  }
  .beeps h3{
    font-size: 1.5rem;
    padding: 4px 3px;
  }
  .mainimg {
    display: flex;
    justify-content: center;
   
   align-items: center;
  }
  .beeps h5{
    font-size: 0.90rem;
    font-weight: 700;
    padding: 5px 5px;
  }
  .beeps p{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .beeps sup{
    font-weight: 100;
  }
  .sp1{
     font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
  }
  .sp2{
   margin-left: 2rem;
  }
  .imgwala{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .img1{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px 5px;
  }
  .img1:hover{
     border: 1.5px solid rgb(132, 132, 233);
     cursor: pointer;
   
  }
  .img2{
     border: 1px solid rgb(78, 78, 80);
    border-radius: 10px;
    padding: 5px 7px;
  }
  .img2:hover{
      border: 1px solid rgb(44, 44, 233);
      cursor: pointer;
  }

  .youlovedimg{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
  }
  .morespan{
    color: blue;
  margin-top: 2rem;
  font-weight: 200;
    margin-left: 1rem;
  }


/* Related to items you've viewed */

   .launchpadmain1{
    margin-top: 4rem;
   
 }
 .launchpadmain1 h3{
    font-size: 1.8rem;
    margin-left: 3rem;
 }
 .launchpad1{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
      margin-left: 3rem;
      padding: 8px 8px;
 }

 /* Introduction what's new */

 .cricket-section {
  width: 100%;
  background: #1e3a8a;
  padding: 20px;
  color: white;
  margin-top: 2rem;
}

.cricket-section h2 {
  margin-bottom: 15px;
}

.teams {
  margin-bottom: 20px;
}

.teams button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background: #e5e7eb;
}

.teams .active {
  background: black;
  color: white;
}

.card-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 2rem;
}
.card-container a{
    text-decoration: none;
}

.card {
  background: white;
  color: black;
  width: 220px;
  border-radius: 10px;
  padding: 10px;
  flex-shrink: 0;
}

.img-box {
  width: 100%;
  height: 250px;
  background: #ddd; /* tu yaha image laga lena */
  border-radius: 10px;
  margin-bottom: 10px;
}
.img-box img{
    width: 100%;
    height: 250px;
}

.card h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.card p {
  font-size: 13px;
  margin-bottom: 8px;
}

.price {
  font-weight: bold;
}


/* product row  */

.live-products-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  
}

.live-product-card {
  width: 14%;
  cursor: pointer;
  border: 1px solid rgb(192, 188, 188);
  padding-left: 1.5rem;
   padding-bottom: 1rem;
  
}
.live-product-card a{
  text-decoration: none;
  color: black;
}

.live-img-box {
  width: 100%;
  height: 140px;
  background: #f3f3f3;
  position: relative;
  border-radius: 5px;
}
.live-img-box img{
  height: 140px;
}

.live-discount {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: #cc0c39;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 3px;
}

.live-title {
  font-size: 13px;
  margin: 8px 0;
  margin-top: 1rem;
}

.live-price-box {
  display: flex;
  gap: 6px;
  align-items: center;
}

.live-price {
  font-weight: bold;
  font-size: 16px;
}

.live-old-price {
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
 
}

.live-deal {
  color: #cc0c39;
  font-size: 12px;
  margin-top: 3px;
}

/* mother day */
.mother{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}




/* MAIN FOOTER */
.amz-footer {
  background: #232f3e;
  color: #ddd;
  font-family: new;
  margin-top: 3rem;
}

/* TOP SECTION */
.amz-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  border-bottom: 1px solid #3a4553;
}

.amz-footer-col {
  width: 22%;
}

.amz-footer-col h4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}

.amz-footer-col a {
  display: block;
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 0;
}

.amz-footer-col a:hover {
  text-decoration: underline;
}

/* MIDDLE */
.amz-footer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  border-bottom: 1px solid #3a4553;
}

.amz-logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.amz-options button {
  background: transparent;
  border: 1px solid #848688;
  color: #ddd;
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

/* BOTTOM */
.amz-footer-bottom {
  background: #131a22;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  font-size: 13px;
  color: #ccc;
}


.amz-bottom-footer {
  background: #131a22;
  color: #ccc;
  padding: 30px 60px;
  font-family: new;
}

/* GRID */
.amz-bottom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}

.amz-bottom-grid h5 {
  color: #fff;
  font-size: 13px;
  margin-bottom: 5px;
}

.amz-bottom-grid p {
  font-size: 12px;
  line-height: 1.4;
}

/* COPYRIGHT */
.amz-copy {
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.amz-copy p {
  margin: 5px 0;
}