* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0e0e0e;
  color: #eee;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 100;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #d4af37;
}

.logo span {
  color: #fff;
}

nav a {
  color: #fff;
  margin-left: 25px;
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  color: #d4af37;
}

/* HERO */
.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1515562141207-7a88fb7ce338") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  color: #d4af37;
}

.hero p {
  margin: 15px 0 30px;
  font-size: 18px;
}

.hero button {
  padding: 12px 35px;
  border: none;
  background: #d4af37;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}

/* COLLECTION */
.collection {
  padding: 100px 60px;
  text-align: center;
}

.collection h2 {
  font-family: 'Playfair Display', serif;
  color: #d4af37;
  margin-bottom: 50px;
}

.products {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  width: 280px;
  background: #151515;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s;
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.product h3 {
  margin: 15px 0 5px;
  font-family: 'Playfair Display', serif;
}

.product p {
  color: #aaa;
  margin-bottom: 15px;
}

/* ABOUT */
.about {
  padding: 80px 20%;
  text-align: center;
  background: #111;
}

.about h2 {
  font-family: 'Playfair Display', serif;
  color: #d4af37;
  margin-bottom: 20px;
}

/* CONTACT */
.contact {
  padding: 80px 20%;
  text-align: center;
}

.whatsapp {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #25D366;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #000;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .hero h1 {
    font-size: 38px;
  }
  .about, .contact {
    padding: 60px 10%;
  }
}
