@font-face {
    font-family: new;
    src: url(./NeueMachina-Regular.woff2);
}

@font-face {
    font-family: man;
    src: url(./Manrope-VariableFont_wght.woff2);
}

@font-face {
    font-family: bold;
    src: url(./Absans-Regular.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5e6bd
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    background-color: #F5E6CC;
}



.logo {
    width: 18%;
}

.logoimg {
    width: 50%;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.logoimg:hover {
    transform: translateY(-0.2rem);
}


.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: #64200a;
    font-weight: 200;
    padding-bottom: 5px;
    font-family: bold;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #0f0f0f;
    transition: 0.4s ease;
}

.nav a:hover::after {
    width: 100%;
}



.icon {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

#search {
    font-size: 1.3rem;
    color: #64200a;
    opacity: 0.7;
}



.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #64200a;
}

/* mainsection */
.mainh1 {
    font-family: bold;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 2rem;
}

.featureh1 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 3rem;
    font-family: bold;
    font-weight: 100;
}

/* FIRST ROW */
.featuremain {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 20px;
}

#star1 {
    margin-top: 0.5rem;
    color: rgb(22, 22, 22);
    font-size: 0.7rem;
}

/* SECOND ROW */
.card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    gap: 20px;
}

/* CARD */
.feature1 {
    width: 22%;
    margin-top: 3rem;
}

/* IMAGE BOX */
.imgbox {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.2;
    overflow: hidden;
}

/* BOTH IMAGES */
.featurecard1img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.4s ease;
}

/* HOVER IMAGE */
.hoverimg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* HOVER EFFECT */
.imgbox:hover .hoverimg {
    opacity: 1;
}

.imgbox:hover .frontimg {
    opacity: 0;
}

/* TEXT */
.feature1 a {
    text-decoration: none;
    color: #0f0f0f;
}

.feature1 a:hover {
    text-decoration: underline;
}

.price {
    margin-top: 1rem;
}

.price a {
    font-size: 1.1rem;
    font-family: new;
    line-height: 1.5rem;
}

.price p {
    padding-top: 0.7rem;
    font-size: 1.1rem;
    font-family: new;
}

/* IMPORTANT */
.featuremain,
.card {
    align-items: flex-start;
}

/* feature card3 */
.feature {
    width: 100%;
    display: flex;
}

.feature1 {
    width: 22%;
    height: 69vh;
}

.featureimg {
    width: 100%;
}

/* footer  */
footer {
    width: 100%;
    background-color: #F3D8AC;
    height: 80vh;
    margin-top: 6rem;
    display: flex;
}

.footer1 {
    width: 50%;
}

.footerp {
    font-size: 1.8rem;
    margin-left: 3rem;
    padding-top: 4rem;
    font-family: man;
}

.footerp1 {
    font-size: 1.1rem;
    font-family: man;
    margin-left: 3rem;
    padding-top: 2rem;
    color: #857e73;
}

.footerp2 {
    font-size: 1.1rem;
    font-family: man;
    margin-left: 3rem;
    padding-top: 1rem;
    color: #857e73;
}

input {
    padding: 8px 17px;
    width: 50%;
    margin-left: 3rem;
    margin-top: 1rem;
}

#fb {
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

#fb1 {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.aboutus {
    width: 50%;
    /* border: 1px solid black; */
}

.anchorfooter {
    margin-top: 2rem;
}

.footera {
    font-size: 1rem;
    font-family: man;
    margin-left: 3rem;
    padding-top: 2rem;
    color: #857e73;
    text-decoration: none;
    padding-top: 2rem;
    line-height: 2;
}

.footera:hover {
    text-decoration: underline;
}