@font-face {
    font-family: new;
    src: url(./NeueMachina-Regular.woff2);
}

@font-face {
    font-family: man;
    src: url(./Manrope-VariableFont_wght.woff2);
}

@font-face {
    font-family: bold;
    src: url(./);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8E2BE;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 18%;
    display: flex;
}

.logoimg {
    width: 50%;
    margin-left: 3rem;
    transition: all 0.3s ease;
}

.logoimg:hover {
    transform: translateY(-0.2rem);

}

.nav {
    display: flex;
    gap: 30px;
}

li {
    color: #F8E2BE;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-bottom: 5px;
}


.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #0f0f0f;
    transition: 0.4s ease;
}


.nav a:hover::after {
    width: 100%;
}

.icon {
    width: 20%;

    margin-left: 4rem;
    display: flex;
    justify-content: space-around;
}

#search {
    font-size: 1.3rem;
    color: rgb(12, 12, 12);
    padding-left: 2rem;
    opacity: 0.7;

}
#menuToggle{
    display: none;
}
/* mainsection */
.mainh1{
     font-family: man;
    font-weight: 100;
    margin-left: 2rem;
    margin-top: 2rem;
}
.kurtascol1{
    width: 100%;
    display: flex;
    height: 97vh;
}
.featurecard1img {
    width: 100%;
}

.feature1 {
    width: 22%;
    height: 50vh;
    margin-left: 2rem;
    margin-top: 2rem;

}

.feature1 a {
    text-decoration: none;
    color: #0f0f0f;
}

.feature1 a:hover {
    text-decoration: underline;
}

.price {
    margin-top: 1.2rem;
}

.price a {
    font-size: 1.1rem;
    font-family: new;
}

.price p {
    padding-top: 1rem;
    font-size: 1.1rem;
    font-family: new;
}
#star1{
    margin-top: 0.5rem;
    color: rgb(22, 22, 22);
}

/* footer  */
footer{
    width: 100%;
    background-color: #F3D8AC;
    height: 80vh;
    margin-top: 3rem;
    display: flex;
}
.footer1{
    width: 50%;
}
.footerp{
    font-size: 1.8rem;
    margin-left: 3rem;
    padding-top: 4rem;
    font-family: man ;
}
.footerp1{
    font-size: 1.1rem;
    font-family: man;
     margin-left: 3rem;
    padding-top: 2rem;
    color: #857e73;
}
.footerp2{
    font-size: 1.1rem;
    font-family: man;
     margin-left: 3rem;
    padding-top: 1rem;
    color: #857e73;
}
input{
    padding: 8px 17px;
    width: 50%;
    margin-left: 3rem;
    margin-top: 1rem;
}
#fb{
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}
#fb1{
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
.aboutus{
    width: 50%;
    /* border: 1px solid black; */
}
.anchorfooter{
    margin-top: 2rem;
}
.footera{
     font-size: 1rem;
    font-family: man;
     margin-left: 3rem;
    padding-top: 2rem;
    color: #857e73;
    text-decoration: none;
    padding-top: 2rem;
    line-height: 2;
}
.footera:hover{
text-decoration: underline;
}
