@font-face {
    font-family: new;
    src: url(./NeueMachina-Regular.woff2);
}

@font-face {
    font-family: man;
    src: url(./Manrope-VariableFont_wght.woff2);
}
@font-face {
    font-family: bold;
    src: url(./);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 30%;
    display: flex;
}

.logoimg {
    width: 10%;
    margin-left: 1rem;
}

.logoh3 {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: new;
    font-weight: 100;

    padding-top: 0.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    font-family: new;
    font-weight: 100;
    color: white;
}

a:hover {
    color: rgb(240, 141, 50);
    transform: translateY(-0.2rem);
}

.button {
    width: 20%;
    margin-left: 9rem;
}

.button1 {
    padding: 12px 25px;
    background: linear-gradient(to right, #1e90ff, #8a2be2);
    border-radius: 6px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
}

.button1:hover {
    background: linear-gradient(135deg, #1d4ed8, #6d28d9);
    color: #f3f4f6;
    transform: translatex(0.2rem);
}
/* mainsection */
.mainh1{
    text-align: center;
    font-family: man;
    font-weight: 100;
    color: white;
    font-size: 3rem;
    margin-top: 4rem;
}
.mainspan{
    color:  #DB601F;
}
.course{
    width: 100%;
    display: flex;
  margin-top: 2rem;
}
.course1{
    width: 30%;
    border: 1px solid rgb(36, 35, 35);
    margin-left: 2rem;
    transition: all 0.3s ease;
}
.course1:hover{
    transform: translateY(-0.3rem);

}
.imgmain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.courseimg{
    width: 90%;
    height: 32vh;
    border-radius: 8px;
    margin-top: 1rem;
}
.course2{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.tag{
    padding: 6px 14px;
    border: 1.5px solid rgba(255,255,255,0.4);
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: 0.3s ease;
}

.tag:hover{
    background: rgba(255,255,255,0.15);
    border-color: #fff;
}
.courseh2{
    color: #fff;
    margin-left: 1.8rem;
    font-family: man;
    margin-top: 0.8rem;
    font-size: 1.7rem;
}
.pricep{
    font-size: 1.5rem;
    color: white;
    font-family: new;
    margin-top: 1.4rem;
     margin-left: 1.8rem;
}
.rupee{
    font-size: 1rem
    ;
}
.checkbutton{
    padding: 8px 23px;
    margin-top: 2rem;
    font-weight: 900;
     background-color:#DB601F;
     color: white;
     border: none;
     border-radius: 6px;
     transition: all 0.3s ease;
      margin-left: 1.8rem;
      cursor: pointer;

}
.checkbutton:hover{
    transform: scale(1.1);
  
}
.rs{
    color: #DB601F;
}
.off{
    font-size: 0.7rem;
    border: 1px solid white;
    color: black;
    background-color: white;
    margin-left: 1.3rem;
    font-family: man;
    cursor: pointer;
}

/* Why IshuSphere Tech is Different? */
.techh1{
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: 100;
    font-family: man;
    margin-top: 3rem;
}
.spantech{
    color: #DB601F;
}
.techp{
    color: white;
    text-align: center;
    font-family: man;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 100;
}
.techmain{
    width: 100%;
    display: flex;
}
.techimg{
    width: 40%;
}
.techimg1{
    width: 90%;
    margin-left: 2rem;
    margin-top: 2rem;
    height: 70vh;
    border-radius: 20px;
}
.techright{
    width: 50%;
    border: 1px solid rgb(29, 28, 28);
     margin-left: 2rem;
    margin-top: 2rem;
    
}
#check{
   color: rgb(34, 255, 5);
   font-size: 1.1rem;
   margin-left: 3rem;
   margin-top: 2rem;

}
.comparip{
    font-size: 1.6rem;
    color: white;
    font-family: man;
    font-weight: 500;
    padding-left: 0.5rem;
}
.techrightp{
    font-size: 1rem;
    color: #DB601F;
      margin-left: 5rem;
      margin-top: 0.5rem;
      font-weight: 100;
      font-family: new;
}




.bigtext{
    font-size: 18vw;         
    font-weight: 900;
    text-align: center;
    color: transparent;       
    -webkit-text-stroke: 1px #333;  
    letter-spacing: 5px;
}
.bigtext:hover{
    background: linear-gradient(45deg,#f04902,#f5aa78);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px transparent;
}
/* footer */
footer{
    width:100%;
    border: 1px solid rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    font-family: new;
    height: auto;
}
.footericon{
    width:30%
}
.footerh3{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: new;
    margin-top: 1rem;
}
#footericon{
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
   
}
.icon{
    margin-left: 8rem;
}
.aboutus{
    width: 50%;
    display: flex;
    justify-content: space-evenly;   
}
.abouth4{
      font-size: 2rem;
    font-family: new;
    margin-top: 1rem;
    color: white;
}
.footera{
   margin-top: 2rem;
   display: block;
}
.footera1{
  display: flex;
  margin-top: 10px;
  opacity: 0.7;
}
.footerp{
    color: white;
    font-weight: 800;
    font-size: 1rem;
    margin-top: 1rem;

}
.footeropa{
    margin-top: 0.5rem;
    color: white;
    opacity: 0.5;
}

