*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    color:#222;
    transition:.4s;
}

.container{
    max-width:700px;
    margin:70px auto;
    padding:20px;
    text-align:center;
}

#themeBtn{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#222;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-bottom:30px;
    transition:.3s;
}

#themeBtn:hover{
    transform:scale(1.05);
}

h1{
    margin-bottom:20px;
}

p{
    line-height:1.7;
}

.card{
    margin-top:30px;
    padding:25px;
    border-radius:12px;
    background:white;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.4s;
}

/* ---------- DARK MODE ---------- */

.dark{
    background:#121212;
    color:white;
}
.light{
    background: white;
    color: black;
}

.dark .card{
    background:#1e1e1e;
    color:white;
}

.dark #themeBtn{
    background:#ffd43b;
    color:#111;
}