body{
    margin:0;
    font-family:Arial;
}

header{
    background:#ff9933;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.hero{
    background:url('india.jpg');
    background-size:cover;
    background-position:center;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content{
    background:rgba(0,0,0,0.5);
    padding:30px;
    border-radius:10px;
}

.hero button{
    padding:10px 20px;
    background:#138808;
    color:white;
    border:none;
    cursor:pointer;
    margin-top:15px;
}

.features{
    padding:50px 20px;
    text-align:center;
    background:#f4f4f4;
}

.feature-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.box{
    width:250px;
    margin:20px;
    padding:20px;
    background:white;
    box-shadow:0 0 10px gray;
    border-radius:10px;
}

.destinations{
    padding:50px 20px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:250px;
    margin:20px;
    box-shadow:0 0 10px gray;
    border-radius:10px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:180px;
}

footer{
    background:#138808;
    color:white;
    text-align:center;
    padding:15px;
}
