*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: brown;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
     
  

}
.div1{
    background-color: aqua;
    width: 33%;
    border: 1px solid black;
     
}